@media only screen and (min-width: 768px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255, 0, 179);
      }
      
    li {
        float: left;
      }
      
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgb(185, 15, 134);
      }

      #menu__toggle {
          display: none;
      }

      article.email {
          padding-top: 200px;
      }

      .facebook {
          padding-top: 200px;
      }

      article.trailers {
        text-align: center;
    }

}




 /* end of media query*/