@media only screen and (max-width: 480px) {


    p {
        color: Black;
    }


    .glitch {
       font-size: 2em;
    }

    .article {
        font-size: 22px;
    }

    .sub-title {
        font-size: 26px;
    }

    .stackimage {
        text-align: center;
        padding: 0;
    }

    .Billy {
        width: auto;
    }

    main {
        margin-top: 0px;
    }



  }