aside>img {
    width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


header>h1 {
    font-family: "Creepster";
    color: black;
    font-size: 7em;
}

body {
    *background-image: url("images/noise.jpg");*
    background-color: #ff4f03;
   }

article>p {
    font-size: 48px;
}